<h1><center>MERGE ACS DATA WITH FDNY DATA BY GEOID</center></h1>

In [25]:
import glob
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

years = [str(i) for i in range(2010, 2019)]
path_from = 'C:\\Users\\mskac\\machineLearning\\GasLeakConEd\\data\\processed\\acs_data\\'
path_to = 'C:\\Users\\mskac\\machineLearning\\GasLeakConEd\\data\\processed\\merged_acs_data\\'
base_path = 'C:/Users/mskac/machineLearning/GasLeakConEd/data/'

files = ['acs_merged_data' + str(year) + '.csv' for year in range(2010, 2019)]

In [26]:
dfs_acs_original = [pd.read_csv(join(path_to, files[i])) for i in range(9)]
for i in range(len(dfs_acs_original)):
    dfs_acs_original[i]['incident_year'] = 2010 +i

In [27]:
# we will have all years information in one dataframe to merge it with gas info
df_acs = pd.concat(dfs_acs_original, ignore_index = True)
df_acs['geoid'] = df_acs['geoid'].astype('int64')

In [28]:
df_gas = pd.read_csv(base_path+ 'processed\FULL_fdny_2013_2020.csv')
df_gas['geoid'] = df_gas['geoid'].astype('int64')

In [29]:
df_gas_ = df_gas
df_gas_['incident_year'] = df_gas['incident_date_time'].str[6:10]
df_gas_['count'] = 1
df_gas_.head()

,Unnamed: 0,geoid,fire_box,ntaname,boroname,incident_date_time,engines_assigned_quantity,total_incident_duration,incident_year,count
0,0,36047040000,B4235,Bensonhurst East,Brooklyn,01/06/2013 07:05:52 PM,2,1035,2013,1
1,1,36047069602,B3183,Georgetown-Marine Park-Bergen Beach-Mill Basin,Brooklyn,01/13/2013 07:21:51 AM,3,1469,2013,1
2,2,36047052000,B2475,Flatbush,Brooklyn,07/30/2017 04:40:45 PM,2,481,2017,1
3,3,36047035300,B1012,Crown Heights North,Brooklyn,02/24/2020 10:11:19 AM,2,558,2020,1
4,4,36047007100,B0582,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,Brooklyn,12/19/2019 10:18:32 AM,2,1158,2019,1

In [30]:
df_gas_ = df_gas_.groupby(['incident_year', 'geoid']).agg({'engines_assigned_quantity': 'mean', 'total_incident_duration': 'mean', 'count': 'count'}).reset_index()

In [31]:
df_gas_.head()

,incident_year,geoid,engines_assigned_quantity,total_incident_duration,count
0,2013,36005000200,2.000000,1041.000000,2
1,2013,36005000400,2.200000,1351.000000,5
2,2013,36005001600,2.272727,1720.636364,11
3,2013,36005001900,2.000000,1170.000000,3
4,2013,36005002000,2.357143,1260.523810,42

In [32]:
df_gas_['incident_year'] = df_gas_['incident_year'].astype('int64')
df_acs['incident_year'] = df_acs['incident_year'].astype('int64')

In [33]:
merged_dfs = df_acs.merge(df_gas_, how='inner', on = ['incident_year','geoid'], validate="one_to_one")
merged_dfs = merged_dfs.sort_values(by = ['incident_year', 'geoid'])
merged_dfs.columns.to_list()

['Unnamed: 0',
 'avg_houshold_size',
 'nonfamily_housholds%',
 'lonely_housholder%',
 'lonely_housholder_over65%',
 'housholders_grandparents_responsible_for_grandchildren%',
 'geoid',
 'unemployed%',
 'median_houshold_income',
 'mean_houshold_income',
 'total_housing_units',
 'occupied_housing_units%',
 'vacant_housing_units%',
 'total_population',
 'median_age',
 'not_us_citizen%',
 'incident_year',
 'engines_assigned_quantity',
 'total_incident_duration',
 'count']

In [34]:
merged_dfs['gas_leaks_per_person'] = merged_dfs['count']/merged_dfs['total_population']
merged_dfs['gas_leaks_per_person'] = merged_dfs['count']/merged_dfs['total_population']

merged_dfs.rename(columns={'engines_assigned_quantity':'avg_assigned_fdny_engines#',
                          'total_incident_duration':'avg_incident_duration'}, inplace = True)
columns = ['incident_year','geoid','gas_leaks_per_person','avg_assigned_fdny_engines#',
 'avg_incident_duration',
 'median_age','avg_houshold_size',
 'nonfamily_housholds%',
 'lonely_housholder%',
 'lonely_housholder_over65%',
 'housholders_grandparents_responsible_for_grandchildren%',
 'unemployed%',
 'median_houshold_income',
 'mean_houshold_income',
 'total_housing_units',
 'occupied_housing_units%',
 'vacant_housing_units%',
 'not_us_citizen%',
 ]

In [35]:
merged_dfs = merged_dfs[columns]
merged_dfs[merged_dfs < 0] = None
merged_dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11764 entries, 0 to 10181
Data columns (total 18 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   incident_year                                            11764 non-null  int64
 1   geoid                                                    11764 non-null  int64
 2   gas_leaks_per_person                                     11764 non-null  float64
 3   avg_assigned_fdny_engines#                               11764 non-null  float64
 4   avg_incident_duration                                    11764 non-null  float64
 5   median_age                                               11618 non-null  float64
 6   avg_houshold_size                                        11595 non-null  float64
 7   nonfamily_housholds%                                     11604 non-null  float64
 8   lonely_housholder%                                       11604 non-null  float64
 9   lonely_housholder_over65%                                11604 non-null  float64
 10  housholders_grandparents_responsible_for_grandchildren%  11604 non-null  float64
 11  unemployed%                                              11619 non-null  float64
 12  median_houshold_income                                   11556 non-null  float64
 13  mean_houshold_income                                     11577 non-null  float64
 14  total_housing_units                                      11764 non-null  int64
 15  occupied_housing_units%                                  11607 non-null  float64
 16  vacant_housing_units%                                    11607 non-null  float64
 17  not_us_citizen%                                          11639 non-null  float64
dtypes: float64(15), int64(3)
memory usage: 1.7 MB

In [36]:
merged_dfs.to_csv(base_path+ 'processed\important_(used_in_app)\Merged_asc_fdny_data.csv')

In [37]:
merged_dfs.head(5000)

,incident_year,geoid,gas_leaks_per_person,avg_assigned_fdny_engines#,avg_incident_duration,median_age,avg_houshold_size,nonfamily_housholds%,lonely_housholder%,lonely_housholder_over65%,housholders_grandparents_responsible_for_grandchildren%,unemployed%,median_houshold_income,mean_houshold_income,total_housing_units,occupied_housing_units%,vacant_housing_units%,not_us_citizen%
0,2013,36005000200,0.000412,2.000000,1041.000000,34.5,3.60,19.005197,18.040089,11.210097,9.576837,8.5,69514.0,72652.0,1476,91.3,8.7,11.198024
1,2013,36005000400,0.000936,2.200000,1351.000000,35.2,3.04,18.881917,13.519681,7.187678,4.164290,5.7,73036.0,80733.0,1912,91.7,8.3,7.821856
2,2013,36005001600,0.002109,2.272727,1720.636364,39.2,2.55,34.035990,33.470437,13.984576,1.748072,6.6,30817.0,44609.0,2043,95.2,4.8,15.819751
3,2013,36005001900,0.001171,2.000000,1170.000000,30.5,2.60,44.645006,35.499398,2.406739,0.000000,18.5,33862.0,42285.0,891,93.3,6.7,24.863388
4,2013,36005002000,0.004967,2.357143,1260.523810,35.9,2.84,29.798658,28.624161,12.953020,6.241611,13.5,19150.0,34044.0,3161,94.3,5.7,9.425260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5061,2015,36061015400,0.005241,1.974026,1542.935065,38.3,1.84,58.249749,49.435807,17.163992,0.000000,6.8,80803.0,101233.0,8418,94.7,5.3,12.842850
5062,2015,36061015500,0.000690,2.000000,1866.142857,43.8,1.86,57.724024,49.935862,21.770203,0.000000,7.5,106157.0,155370.0,6623,82.4,17.6,6.363905
5063,2015,36061015601,0.002034,2.454545,1510.181818,33.4,1.97,64.366557,44.103687,8.725812,2.628697,2.5,88620.0,118397.0,3053,89.7,10.3,16.087278
5064,2015,36061015602,0.009923,2.090909,1232.363636,37.0,2.21,51.473684,46.210526,16.842105,5.052632,10.1,50455.0,85864.0,1107,85.8,14.2,11.998196
5065,2015,36061015700,0.003256,2.387097,1476.290323,39.2,1.71,68.113036,56.007293,13.272562,0.000000,3.7,122734.0,159429.0,7203,76.1,23.9,14.588804

In [57]:
df_gas_ = df_gas
df_gas_['incident_year'] = df_gas['incident_date_time'].str[6:10]
df_gas_['incident_month'] = df_gas['incident_date_time'].str[:2]
df_gas_['count'] = 1
df_gas_.head()

,Unnamed: 0,geoid,fire_box,ntaname,boroname,incident_date_time,engines_assigned_quantity,total_incident_duration,incident_year,count,incident_month
0,0,36047040000,B4235,Bensonhurst East,Brooklyn,01/06/2013 07:05:52 PM,2,1035,2013,1,01
1,1,36047069602,B3183,Georgetown-Marine Park-Bergen Beach-Mill Basin,Brooklyn,01/13/2013 07:21:51 AM,3,1469,2013,1,01
2,2,36047052000,B2475,Flatbush,Brooklyn,07/30/2017 04:40:45 PM,2,481,2017,1,07
3,3,36047035300,B1012,Crown Heights North,Brooklyn,02/24/2020 10:11:19 AM,2,558,2020,1,02
4,4,36047007100,B0582,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,Brooklyn,12/19/2019 10:18:32 AM,2,1158,2019,1,12

In [58]:
df_gas_ = df_gas_.groupby(['incident_year', 'incident_month','geoid']).agg({'engines_assigned_quantity': 'mean', 'total_incident_duration': 'mean', 'count': 'count'}).reset_index()

In [59]:
df_gas_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79776 entries, 0 to 79775
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   incident_year              79776 non-null  object
 1   incident_month             79776 non-null  object
 2   geoid                      79776 non-null  int64
 3   engines_assigned_quantity  79776 non-null  float64
 4   total_incident_duration    79776 non-null  float64
 5   count                      79776 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.7+ MB

In [60]:
df_gas_['incident_year'] = df_gas_['incident_year'].astype('int64')
df_acs['incident_year'] = df_acs['incident_year'].astype('int64')
df_gas_['incident_month'] = df_gas_['incident_month'].astype('int64')

In [61]:
merged_dfs = df_gas_.merge(df_acs, how='left', on = ['incident_year','geoid'])
merged_dfs = merged_dfs.sort_values(by = ['incident_year', 'incident_month','geoid'])
merged_dfs.columns.to_list()

['incident_year',
 'incident_month',
 'geoid',
 'engines_assigned_quantity',
 'total_incident_duration',
 'count',
 'Unnamed: 0',
 'avg_houshold_size',
 'nonfamily_housholds%',
 'lonely_housholder%',
 'lonely_housholder_over65%',
 'housholders_grandparents_responsible_for_grandchildren%',
 'unemployed%',
 'median_houshold_income',
 'mean_houshold_income',
 'total_housing_units',
 'occupied_housing_units%',
 'vacant_housing_units%',
 'total_population',
 'median_age',
 'not_us_citizen%']

In [62]:
merged_dfs.head(50)

,incident_year,incident_month,geoid,engines_assigned_quantity,total_incident_duration,count,Unnamed: 0,avg_houshold_size,nonfamily_housholds%,lonely_housholder%,...,housholders_grandparents_responsible_for_grandchildren%,unemployed%,median_houshold_income,mean_houshold_income,total_housing_units,occupied_housing_units%,vacant_housing_units%,total_population,median_age,not_us_citizen%
0,2013,1,36005002000,2.333333,1162.833333,6,93.0,2.840000e+00,29.798658,28.624161,...,6.241611,13.5,19150.0,34044.0,3161.0,94.3,5.7,8456.0,35.9,9.425260
1,2013,1,36005002400,2.000000,911.000000,1,95.0,-6.666667e+08,NaN,NaN,...,NaN,-666666666.0,-666666666.0,-666666666.0,0.0,-666666666.0,-666666666.0,0.0,-666666666.0,NaN
2,2013,1,36005002500,2.000000,1062.000000,1,96.0,2.820000e+00,32.579934,27.177508,...,1.433297,12.1,14628.0,26129.0,2063.0,87.9,12.1,5108.0,27.0,25.078309
3,2013,1,36005002701,2.000000,822.500000,2,97.0,3.000000e+00,21.152030,15.391879,...,1.227573,18.5,26094.0,36719.0,1105.0,95.8,4.2,3172.0,32.7,17.559899
4,2013,1,36005002800,2.000000,6190.000000,1,99.0,2.480000e+00,39.102564,32.649573,...,0.000000,9.0,48717.0,58256.0,2427.0,96.4,3.6,5804.0,39.9,6.805651
5,2013,1,36005003500,2.500000,996.500000,2,102.0,2.910000e+00,30.256012,27.618309,...,0.000000,14.9,24321.0,30035.0,1346.0,95.8,4.2,3776.0,28.7,17.743644
6,2013,1,36005004001,2.000000,1323.000000,1,106.0,3.000000e+00,33.265306,30.000000,...,3.061224,9.8,46809.0,66040.0,564.0,86.9,13.1,1470.0,39.9,14.761905
7,2013,1,36005004100,2.000000,1203.500000,4,107.0,3.050000e+00,29.629630,29.234568,...,7.259259,16.3,18021.0,30864.0,2189.0,92.5,7.5,6218.0,25.9,9.295593
8,2013,1,36005004200,2.000000,1560.600000,5,108.0,2.750000e+00,34.641007,30.977054,...,3.515914,23.5,27868.0,37429.0,2797.0,96.6,3.4,7429.0,34.5,4.536277
9,2013,1,36005004300,2.000000,757.000000,1,109.0,2.930000e+00,33.941404,29.187396,...,3.758983,14.1,22359.0,35021.0,2005.0,90.2,9.8,5334.0,29.5,12.635921
10,2013,1,36005004600,2.500000,1017.500000,2,111.0,2.440000e+00,43.683409,43.074581,...,0.000000,21.5,31250.0,43242.0,726.0,90.5,9.5,1605.0,40.9,8.161994
11,2013,1,36005004800,2.000000,1818.000000,1,112.0,3.140000e+00,24.878444,22.366288,...,5.429498,15.3,24683.0,33701.0,1398.0,88.3,11.7,3882.0,32.0,34.544049
12,2013,1,36005005001,2.000000,886.000000,1,113.0,3.230000e+00,24.022346,19.413408,...,2.583799,15.4,30106.0,40341.0,1573.0,91.0,9.0,4782.0,28.2,22.626516
13,2013,1,36005005002,2.000000,986.000000,1,114.0,3.350000e+00,24.033816,18.900966,...,5.555556,11.3,32788.0,42452.0,1936.0,85.5,14.5,5644.0,28.5,41.654855
14,2013,1,36005005200,1.000000,1703.000000,2,116.0,2.660000e+00,29.261745,27.114094,...,2.416107,19.8,17106.0,35858.0,792.0,94.1,5.9,1985.0,39.5,16.473552
15,2013,1,36005006000,1.000000,746.500000,2,121.0,3.810000e+00,23.100304,17.021277,...,0.000000,7.4,40586.0,51629.0,382.0,86.1,13.9,1255.0,32.4,19.043825
16,2013,1,36005006100,2.000000,1061.666667,3,122.0,1.830000e+00,56.464891,55.786925,...,2.324455,19.2,43950.0,51118.0,2250.0,91.8,8.2,3789.0,51.1,0.686197
17,2013,1,36005006200,3.000000,1142.000000,1,123.0,3.270000e+00,29.266212,25.213311,...,5.290102,14.1,25500.0,35603.0,2480.0,94.5,5.5,7665.0,28.1,23.222440
18,2013,1,36005006400,2.000000,1195.000000,1,125.0,3.260000e+00,35.801465,26.932465,...,2.359642,17.3,36446.0,48652.0,1406.0,87.4,12.6,4017.0,30.7,17.649988
19,2013,1,36005006500,2.000000,1906.000000,2,126.0,3.060000e+00,37.751222,32.971211,...,1.955459,10.6,21640.0,31081.0,1986.0,92.7,7.3,5734.0,28.0,24.101849
20,2013,1,36005006700,2.000000,997.000000,1,127.0,3.340000e+00,32.104586,28.332619,...,11.401629,19.0,19079.0,31149.0,2439.0,95.7,4.3,7812.0,27.6,32.757296
21,2013,1,36005006800,2.500000,1641.000000,2,128.0,3.050000e+00,35.444331,29.622063,...,8.069459,21.1,30969.0,40090.0,1103.0,88.8,11.2,2984.0,30.8,22.788204
22,2013,1,36005006900,2.000000,970.000000,1,129.0,2.770000e+00,34.087423,30.099693,...,0.690184,21.4,17460.0,32913.0,2689.0,97.0,3.0,7364.0,27.9,15.942423
23,2013,1,36005007200,0.000000,2578.000000,1,132.0,3.370000e+00,29.971831,25.971831,...,4.225352,9.0,42193.0,50556.0,1862.0,95.3,4.7,5985.0,30.2,26.182122
24,2013,1,36005007300,2.000000,843.000000,1,133.0,2.800000e+00,34.409449,32.283465,...,2.755906,22.0,22254.0,31556.0,1376.0,92.3,7.7,3596.0,28.3,22.608454
25,2013,1,36005007400,2.000000,564.000000,1,134.0,2.720000e+00,31.593794,24.894217,...,1.904090,7.7,43696.0,56775.0,1440.0,98.5,1.5,3863.0,40.7,6.290448
26,2013,1,36005007500,2.000000,1749.000000,2,421.0,2.620000e+00,39.806378,35.990888,...,3.872437,7.7,21723.0,32979.0,1868.0,94.0,6.0,4666.0,30.2,13.480497
27,2013,1,36005007700,3.000000,1495.000000,2,423.0,3.080000e+00,22.558923,20.033670,...,1.178451,13.6,27250.0,43043.0,637.0,93.2,6.8,1866.0,31.6,13.612004
28,2013,1,36005007900,2.000000,1006.666667,3,425.0,2.700000e+00,37.360179,34.854586,...,5.682327,23.9,25244.0,30033.0,2437.0,91.7,8.3,6128.0,28.7,19.810705
29,2013,1,36005008600,2.750000,962.750000,4,429.0,2.590000e+00,31.468023,26.380814,...,2.688953,11.8,20069.0,30415.0,1471.0,93.5,6.5,3558.0,38.1,7.279370
30,2013,1,36005008700,1.000000,1255.000000,2,430.0,3.360000e+00,25.591635,22.399560,...,5.613649,9.6,28725.0,39908.0,1904.0,95.4,4.6,6278.0,29.6,23.192099
31,2013,1,36005009300,2.400000,1136.000000,5,434.0,3.220000e+00,25.804564,21.533060,...,4.564073,13.1,30783.0,37002.0,1942.0,88.0,12.0,6444.0,30.2,15.254500
32,2013,1,36005009800,3.000000,802.000000,1,436.0,2.900000e+00,26.484561,24.168646,...,0.356295,10.6,52500.0,65592.0,1873.0,89.9,10.1,4905.0,36.4,8.909276
33,2013,1,36005012101,2.000000,937.000000,2,442.0,3.370000e+00,24.498886,15.367483,...,2.338530,10.0,35147.0,39140.0,1011.0,88.8,11.2,3139.0,25.0,29.372412
34,2013,1,36005012901,2.500000,1581.000000,2,447.0,2.530000e+00,41.877256,39.422383,...,3.537906,13.4,14301.0,23472.0,1504.0,92.1,7.9,3678.0,26.9,9.053834
35,2013,1,36005013300,1.500000,970.000000,2,451.0,2.980000e+00,29.890311,28.290676,...,2.148080,15.5,22012.0,36757.0,2345.0,93.3,6.7,6512.0,31.8,20.070639
36,2013,1,36005013500,2.333333,1159.166667,6,452.0,2.940000e+00,32.056619,26.977519,...,3.080766,15.3,20171.0,31557.0,1378.0,87.2,12.8,3528.0,31.7,15.164399
37,2013,1,36005013800,3.000000,1982.000000,1,453.0,2.430000e+00,42.046363,33.253397,...,0.000000,8.8,70774.0,82513.0,1368.0,91.4,8.6,3040.0,42.7,2.631579
38,2013,1,36005014100,0.000000,1429.000000,1,454.0,2.400000e+00,44.845699,42.613263,...,5.318450,18.4,30850.0,36509.0,1720.0,88.5,11.5,3775.0,32.1,18.701987
39,2013,1,36005014400,2.000000,971.333333,3,456.0,2.790000e+00,33.597229,28.698664,...,2.721425,14.7,21964.0,39463.0,2230.0,90.6,9.4,5657.0,29.1,4.419304
40,2013,1,36005014500,2.250000,950.000000,4,457.0,2.940000e+00,30.823293,28.062249,...,3.664659,23.4,20621.0,25971.0,2150.0,92.7,7.3,6163.0,24.6,10.157391
41,2013,1,36005014701,2.333333,950.000000,3,458.0,3.240000e+00,22.265817,20.549289,...,6.718980,22.9,21106.0,31099.0,2039.0,100.0,0.0,6841.0,31.5,20.040930
42,2013,1,36005015100,2.000000,981.500000,2,461.0,3.220000e+00,28.758170,23.311547,...,5.174292,14.6,29031.0,41682.0,1977.0,92.9,7.1,5951.0,30.7,18.803562
43,2013,1,36005015200,2.000000,849.000000,2,462.0,3.200000e+00,23.419204,21.662763,...,2.224824,6.0,58125.0,69791.0,960.0,89.0,11.0,2736.0,38.8,7.346491
44,2013,1,36005016300,3.000000,1064.000000,1,471.0,-6.666667e+08,NaN,NaN,...,NaN,25.4,-666666666.0,-666666666.0,0.0,-666666666.0,-666666666.0,154.0,15.3,5.194805
45,2013,1,36005016600,2.000000,1171.000000,1,474.0,2.920000e+00,18.276762,17.493473,...,0.000000,8.2,70081.0,91154.0,878.0,87.2,12.8,2249.0,41.5,4.490885
46,2013,1,36005017100,2.000000,544.000000,1,477.0,-6.666667e+08,NaN,NaN,...,NaN,-666666666.0,-666666666.0,-666666666.0,0.0,-666666666.0,-666666666.0,2.0,-666666666.0,0.000000
47,2013,1,36005017300,2.000000,933.000000,4,478.0,2.880000e+00,41.275626,37.767654,...,4.145786,17.5,22699.0,32176.0,2345.0,93.6,6.4,6356.0,34.2,23.174953
48,2013,1,36005017500,2.250000,1112.500000,4,479.0,2.730000e+00,38.431542,35.485269,...,4.332756,17.0,17825.0,34079.0,2513.0,91.8,8.2,6322.0,28.0,16.909206
49,2013,1,36005017701,1.666667,1322.666667,3,480.0,3.120000e+00,28.977778,20.711111,...,5.244444,20.5,26224.0,46002.0,1354.0,83.1,16.9,3942.0,36.0,13.165906

In [63]:
merged_dfs['gas_leaks_per_person'] = merged_dfs['count']/merged_dfs['total_population']

merged_dfs.rename(columns={'engines_assigned_quantity':'avg_assigned_fdny_engines#',
                          'total_incident_duration':'avg_incident_duration'}, inplace = True)
columns = ['incident_year','incident_month','geoid','gas_leaks_per_person']

In [64]:
merged_dfs = merged_dfs[columns]
merged_dfs[merged_dfs < 0] = None
merged_dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79776 entries, 0 to 79775
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   incident_year         79776 non-null  int64
 1   incident_month        79776 non-null  int64
 2   geoid                 79776 non-null  int64
 3   gas_leaks_per_person  63785 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 3.0 MB

In [69]:
merged_dfs = merged_dfs.dropna()
merged_dfs.to_csv(base_path+ 'processed\important_(used_in_app)\Merged_asc_fdny_data_months.csv')

In [70]:
merged_dfs.head(5000)

      incident_year  incident_month        geoid  gas_leaks_per_person
0              2013               1  36005002000              0.000710
1              2013               1  36005002400                   inf
2              2013               1  36005002500              0.000196
3              2013               1  36005002701              0.000631
4              2013               1  36005002800              0.000172
...             ...             ...          ...                   ...
5115           2013               8  36061002700              0.003359
5116           2013               8  36061002800              0.000274
5117           2013               8  36061003200              0.000393
5118           2013               8  36061003601              0.000909
5119           2013               8  36061003700              0.001249

[5000 rows x 4 columns]

In [71]:
merged_dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63785 entries, 0 to 65446
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   incident_year         63785 non-null  int64
 1   incident_month        63785 non-null  int64
 2   geoid                 63785 non-null  int64
 3   gas_leaks_per_person  63785 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 2.4 MB

In [98]:
gas_df = pd.read_csv(base_path+ 'processed\important_(used_in_app)\Merged_asc_fdny_data_months.csv')
centers_df = pd.read_csv(
    'https://raw.githubusercontent.com/MarinaOrzechowski/GasLeakConEd/timeline_branch/data/processed/important_(used_in_app)/geoid_with_centers.csv')

In [99]:
df_selected = gas_df.merge(centers_df, on='geoid')
df_selected = df_selected.groupby(['incident_year', 'incident_month', 'geoid']).agg(
        {'gas_leaks_per_person': 'mean'}).reset_index()
df_selected.head()

   incident_year  incident_month        geoid  gas_leaks_per_person
0           2013               1  36005002000              0.000710
1           2013               1  36005002400                   inf
2           2013               1  36005002500              0.000196
3           2013               1  36005002701              0.000631
4           2013               1  36005002800              0.000172

In [100]:
df_selected = df_selected[df_selected['gas_leaks_per_person'] <1000000]

In [170]:
months = [month for month in range(1, 13)]
df_selected = df_selected.groupby(['incident_year','incident_month']).agg({'gas_leaks_per_person': 'mean'}).reset_index()

[df_selected[(df_selected['incident_year'] == year) & (
    df_selected['incident_month'] == month)].iloc[0]['gas_leaks_per_person'] for month in months]

[0.002257100623390955,
 0.0026059530957740595,
 0.0011248553907257557,
 0.0011507010118710272,
 0.0024853729568413835,
 0.003502722318995329,
 0.0029322065585796063,
 0.0016937637908488003,
 0.0021242811756353014,
 0.0039590416107056405,
 0.002018956409711787,
 0.0041142441686094645]

In [147]:
gas_leaks[2][2]

0.0011248553907257557